.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  max-height: calc(100vh - 110px);
  overflow: auto;
  padding-right: 8px;
  width: 580px;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: thin;
}

.list {
  max-height: calc(100vh - 250px);
}
