.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.containerRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  overflow: auto;
  padding-right: 8px;
  width: 850px;
  margin-top: 20px;
}

.content {
  text-align: center;
}

.containerProfile {
  justify-content: flex-start;
  margin-top: 20px;
}

.containerProfileContent {
  display: flex;
  justify-content: flex-start;
}

.menu {
  width: 320px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu a {
  text-decoration: none;
  line-height: 64px;
}

.link {
  color: #4c4cff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
